#main {
	width: 100%;
	height: 100%;
	
	border: 2px solid transparent;
}
#scene {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: -10px;
	width: 50%;
	
	border: 2px solid transparent;
}
#runnerInfo {
	display: inline-block;
	border: 2px solid transparent;
}
#inputLeft {
	width: 48%;
	float: left;
	display: inline-block;
	
	border: 2px solid transparent;
}

#inputRight {
	width:48%;
	float: right;
	display: inline-block;
	
	border: 2px solid transparent;
}
#quality {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 50%;
	
	border: 2px solid transparent;
}
#buttons {
	text-align: center;
	justify-content: center;
	width: 100%;
	
	border: 2px solid transparent;
}