#main {
	width: 100%;
	height: 100%;
}
#scene {
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 0px;
	width: 50%;
}
#runnerInfo {
	display: inline-block;
}
#inputLeft {
	width: 48%;
	float: left;
	display: inline-block;
}
#inputRight {
	width:48%;
	float: right;
	display: inline-block;
}
#quality {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 50%;
}
#buttons {
	text-align: center;
	justify-content: center;
	width: 100%;
}